<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="expand navbar-expand">
        <ul class="nav navbar-nav">
          <li class="navbar-brand badge badge-success">
            <h4><label for="filter" >Select Filter : </label></h4>
          </li>
          <li class="navbar-brand badge">
            <h4>
              <select name="filterName" id="filterName" (change)="onChange($event)">
                <option value="">Select Filter</option>
                <option value="launchSuccess">Launch Success</option>
                <option value="launchAndLandSuccess">Launch & Land Success</option>
                <option value="all">All</option>
              </select>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<app-data></app-data>
